.background{
  background-color: rgb(236, 239, 239);
}
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.logoName{
  color: blue;
}

.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(41, 38, 21);
  color: aliceblue;
  padding-top: 20;
}

.centerHeader ul li{
  list-style-type: none;
  display: inline-flex;
  margin: 0px 10px;
}

ul{
  display: flex;
}

.tittle{
  font-size: 1rem;
}
.leftHeader{
  flex: 4;
}

.centerHeader{
  flex: 4 ;
}

.search{
  flex: 2;

}
.search input{
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
  /* margin-left: -150px; */
}
.rightHeader{
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.bannerBox{
  margin: 10px 0px;
}

.bannerBox img{
  width: 100%;

}

.menImage{
  display: flex;
  gap: 10px;
}

.menImage img{
  width: 202px;
  height: 220px;
}
.collectionSection{
  margin-top: 10px;
}

.signin{
  padding: 0px 10px;
}

.card{
  padding: 0px 15px;
}